.drop-container {
    border: 1.5px dashed gray;
    border-radius: 5px;
    min-height: 200px;
    min-width: 400px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop-title{
    text-align:center;
    margin-top:10px;
}

.drop-icon {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.drop-image-container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.drop-image-wrapper {
    position: relative;
    height: 80px;
    width: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
}

    .drop-image-wrapper:hover {
        border-color: var(--accent-hover);
    }

.drop-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

/* Clase para marcar como seleccionado */
.drop-image-wrapper.selected {
    border-color: var(--accent);
}

.drop-image-wrapper.selected::after {
    content: '✓';
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--accent);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.drop-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.drop-actions > *{
    flex:1;
}