<div class="page-header">
    <div>
        <h1 class="page-title">Purchases</h1>
    </div>
    <button class="btn btn-primary">
        <i data-lucide="plus"></i>
        New Purchase
    </button>
</div>
<section id="tbl-container"></section>

@section Scripts {
    <script src="~/js/purchases/index.js" asp-append-version="true"></script>
}