@using GMG.Application.Feactures.Products.Commands.CreateProduct
@model ProductCreateViewModel

<form method="post" asp-action="Create" id="frm-create-product">

    <div class="page-header">
        <div>
            <h1 class="page-title">Create Product</h1>
        </div>
        <button id="btn-create-product" type="submit" class="btn btn-primary">Create product</button>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body row">
                    <div class="col-12" id="drop-files">
                        <div class="drop-container">
                            <span class="drop-icon"><i data-lucide="cloud-upload" style="height:50px;width:50px;"></i></span>
                            <p class="drop-title">Drag here or click to upload your images</p>
                        </div>
                        <div class="drop-actions">
                            <button data-id="btn-selected" class="btn btn-primary">Clear selected (0)</button>
                            <button data-id="btn-clear" class="btn btn-primary">Clear all</button>
                        </div>
                        <div class="drop-image-container">
                           <div class="drop-image-wrapper selected">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                           </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                                                       <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                           </div>
                                                      <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                           </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                            <div class="drop-image-wrapper">
                                <img class="drop-image" src="https://tse1.mm.bing.net/th/id/OIP.mD1I5wlGzzKUNGivWf2H8gHaK8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3" />
                            </div>
                        </div>
                        <input type="file" hidden accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body row">
                    <div class="form-group col-6">
                        <label class="form-label" asp-for="Name">Name</label>
                        <input class="form-input" asp-for="Name" />
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label" asp-for="ProductTypeId">Category</label>
                        <select class="form-input" asp-for="ProductTypeId" asp-items="Model.ProductTypes"></select>
                    </div>
                    <div class="form-group col-12">
                        <label class="form-label" asp-for="Description">Description</label>
                        <input class="form-input" asp-for="Description" />
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label" asp-for="Price">Price</label>
                        <div class="input-group">
                            <span class="input-group-text"><i data-lucide="dollar-sign" style="width:16px;height:16px;"></i></span>
                            <input class="form-input" asp-for="Price" />
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label" asp-for="InitialStock">Initial Stock</label>
                        <input class="form-input" asp-for="InitialStock" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/products/create.js" asp-append-version="true"></script>
}