<div class="page-header">
    <div>
        <h1 class="page-title">Sales</h1>
    </div>
</div>
<section id="tbl-container"></section>

@section Scripts {
    <script src="~/js/sales/index.js" asp-append-version="true"></script>
}